<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="todoApp">
  <h2>Todo with Component</h2>
  <input type="text" v-model="todo" v-on:keyup.enter="add">
  <span>doing {{doings}} / {{todos.length}} task</span>
  <div class="hoge">
    <todo-template v-for="t in todos" :t="t" @intermediary="task_count"></todo-template>
  </div>
</div>

<script type="text/x-template" id="todo-template">
  <div v-bind:class="['todo-default', doing ? 'todo-doing' : '']" v-on:click="begin">
    {{t.name}}
  </div>
</script>
<script src="index.js"></script>
</body>
</html>
