<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <title>Vue Trial</title>
  <link rel="stylesheet" href="css/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app" class="container">
    <p>Hello {{ name.toUpperCase() }}!</p>
    <p><input type="text" v-model="name"></p>

    <h1>My Todos</h1>
    <!--<li>{{ todo[0] }}</li>-->

    <ul>
      <li v-for="todo in todos">{{ todo }}</li>
    </ul>
    <form>
      <input type="text">
      <input type="submit" value="Add">
    </form>

  </div>

<script src="js/index.js"></script>
</body>
</html>